<div id="header_wrap">
    <div id="header">
        <div style="float: left; width: 310px;">
            <h1>
                <a href="/" title="宽屏大气文章类--41天鹰模板">宽屏大气文章类--41天鹰模板</a>
                <div class="" id="logo-sub-class">
                </div>
            </h1>
        </div>
        <div id="navi">
            <ul id="jsddm">
                <li><a class="navi_home" href="{:url('Index/zhifu')}">支付</a></li>
                <li><a class="navi_home" href="/home">首页</a></li>
                {volist name="arr" id="vo"}
                    {if condition="count($vo['arr']) neq 0"}
                    <li>
                        {if condition="$vo['cate_type'] eq '1'"}
                        <a href="{:url('Index/artlist',array('cateid'=>$vo['id']))}">{$vo.cate_title}</a>
                        {elseif condition="$vo['cate_type'] eq '2'"/}
                        <a href="{:url('Index/danye',array('cateid'=>$vo['id']))}">{$vo.cate_title}</a>
                        {else /}
                        <a href="{:url('Index/imglist',array('cateid'=>$vo['id']))}">{$vo.cate_title}</a>
                        {/if}
                        <ul>
                            {volist name="vo.arr" id="v"}
                            <li>
                                {if condition="$v['cate_type'] eq '1'"}
                                <a href="{:url('Index/artlist',array('cateid'=>$v['id']))}">{$v.cate_title}</a>
                                {elseif condition="$v['cate_type'] eq '2'"/}
                                <a href="{:url('Index/danye',array('cateid'=>$v['id']))}">{$v.cate_title}</a>
                                {else /}
                                <a href="{:url('Index/imglist',array('cateid'=>$v['id']))}">{$v.cate_title}</a>
                                {/if}
                            </li>
                            {/volist}
                        </ul>
                    </li>
                    {else /}
                    <li>
                        {if condition="$vo['cate_type'] eq '1'"}
                        <a href="{:url('Index/artlist',array('cateid'=>$vo['id']))}">{$vo.cate_title}</a>
                        {elseif condition="$vo['cate_type'] eq '2'"/}
                        <a href="{:url('Index/danye',array('cateid'=>$vo['id']))}">{$vo.cate_title}</a>
                        {else /}
                        <a href="{:url('Index/imglist',array('cateid'=>$vo['id']))}">{$vo.cate_title}</a>
                        {/if}

                    </li>
                    {/if}
                {/volist}
            </ul>
            <div style="clear: both;"></div>
        </div>
        <div style="float: right; width: 209px;">
            <div class="widget" style="height: 30px; padding-top: 20px;">
                <div style="float: left;">
                    <form  name="formsearch" action="{:url('sousuo')}">
                        <input type="hidden"  value="0" />
                        <input type="text" name="art_title" style="background-color: #000000;padding-left: 10px; font-size: 12px;font-family: 'Microsoft Yahei'; color: #999999;height: 29px; width: 160px; border: solid 1px #666666; line-height: 28px;" id="go" value="{:input('art_title')}" />
                    </form>
                </div>
                <div style="float: left;">
                    <img src="__HOME__/images/search-new.png" id="imgSearch" style="cursor: pointer; margin: 0px;
                        padding: 0px;"  onclick="subForm()"  />
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>