<link rel="stylesheet" href="__HOME__/style/bootstrap.css" type="text/css" />
<link rel="stylesheet" type="text/css" media="all" href="__HOME__/style/style.css" />

<link rel="stylesheet" href="__HOME__/style/pagenavi-css.css" type="text/css" media="all" />
<link rel="stylesheet" href="__HOME__/style/votestyles.css" type="text/css" />
<link rel="stylesheet" href="__HOME__/style/voteitup.css" type="text/css" />
<link rel="stylesheet" href="__HOME__/style/list.css" type="text/css" />
<link rel="stylesheet" href="__HOME__/style/article.css" type="text/css" />