<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>童老师ThinkPHP5交流群：484519446</title>
<meta name="description" content="童老师ThinkPHP5交流群：484519446" />
<meta name="keywords" content="童老师ThinkPHP5交流群：484519446" />
    <link rel="stylesheet" href="__HOME__/style/bootstrap.css" type="text/css" />
    <link rel="stylesheet" type="text/css" media="all" href="__HOME__/style/style.css" />
    <link rel="stylesheet" href="__HOME__/style/pagenavi-css.css" type="text/css" media="all" />
    <link rel="stylesheet" href="__HOME__/style/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="__HOME__/style/voteitup.css" type="text/css" />
    {include file="Public/script" /}
    <script>
        function subForm()
        {
            if($('#go').val()!=''){
                formsearch.submit();
            }

            //form1为form的id
        }
    </script>
    <style type="text/css">
        #wrapper
        {
            background-color: #ffffff;
        }
        .single_entry{margin-top:30px;}
    </style>
</head>
<body class="single2">

<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div>
{include file="Public/header" /}

</div>
    <div id="wrapper">
       
        <div class="single_entry page_entry">
            <div class="entry">
                <h2 style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 22px; vertical-align: baseline; font-family: 'Microsoft Yahei', 'Trebuchet MS', Arial, Tahoma, Helvetica, sans-serif; line-height: 26px; color: rgb(51, 51, 51);">
                    {$data.art_title}</h2>
{$data.art_content}

                <div class="clear">
                </div>
            </div>
    </div>

    </div>
{include file="Public/foter" /}
<div style="display: none;" id="scroll">
</div>

</body>
</html>
